* {
    box-sizing: border-box;
}

.columns {
    background-color: white;

}
.Huddle, .Grow, .flowing, .user, .ready {
    padding: 20px;
    float: left;
    width: 100%;
}
.Huddle {
    float: left;
    background-color: rgb(237,251,254);
    text-align: center;
    background-image: url(bg-hero-desktop.svg);
    background-size: contain;
    height: 12cm;
    width: 100%;

}
.column {
    float: left;
    background-color: none;
    width: 49%;
    height: fit-content;
    margin: 0px;
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: flex;
  }
.Huddle h1 {
    text-align: left;
    width: 100%;
}
.Huddle p {
    text-align: left;
    width: 100%;
}
.illustration {
    max-width: 100%;
    float: right;   
}